aiohttp
aiolimiter
aiosignal
anyio
async-timeout
attrs
certifi
charset-normalizer
click
dnspython
Flask
frozenlist
h11
httpcore
httpx
idna
itsdangerous
Jinja2
loguru
MarkupSafe
multidict
openai
pydub
pymongo
python-telegram-bot
PyYAML
regex
requests
rfc3986
sniffio
tiktoken
tqdm
urllib3
uvicorn
uvloop
Werkzeug
yarl
